## Imports

In [16]:
import pandas as pd 

from random import seed
from random import random
from random import randint

seed(1)

## Brazil Data
https://www.indexmundi.com/brazil/demographics_profile.html

In [23]:
# Total
population_total = 208846892

# Male
male0to14 = 23310437 
male15to24 = 17254084
male25to54 = 45449158
male55to64 = 9229665
male65plus = 7666845
male_life_avg = 70.7

# Female
female0to14 = 22414551
female15to24 = 16758140
female25to54 = 46151759
female55to64 = 10296824
female65plus = 10315429
female_life_avg = 78.0

# others
aids = 0.5
improved_water_access = 98.1
sanitation_access = 82.8
adult_obesity = 22.1

## Helpers

In [9]:
def has_aids():
    value = random()*100.0
    #print(value)
    return value <= aids

def has_water_access():
    value = random()*100.0
    #print(value)
    return value <= improved_water_access

def has_sanitation_access():
    value = random()*100.0
    #print(value)
    return value <= sanitation_access

def has_obesity():
    value = random()*100.0
    #print(value)
    return value <= adult_obesity


#print(has_aids())
#print(has_water_access())
#print(has_sanitation_access())
#print(has_obesity())

## Setup Aids, Water Access, Sanitation Access and Obesity

In [10]:
dict = {} 

aids_list = []
water_list = []
sanitation_list = []
obesity_list = []

for x in range(population_total):
    aids_list.append(has_aids())
    water_list.append(has_water_access())
    sanitation_list.append(has_sanitation_access())
    obesity_list.append(has_obesity())
    
dict["aids"] = aids_list
dict["water"] = water_list
dict["sanitation"] = sanitation_list
dict["obesity"] = obesity_list

## Setup Age and Sex

In [30]:
sex_list = []
age_list = []

# Male
for x in range(male0to14):
    sex_list.append(True)
    age_list.append(randint(0, 14))
    
for x in range(male15to24):
    sex_list.append(True)
    age_list.append(randint(15, 24))
   
for x in range(male25to54):
    sex_list.append(True)
    age_list.append(randint(25, 54))
    
for x in range(male55to64):
    sex_list.append(True)
    age_list.append(randint(55, 64))
    
for x in range(male65plus):
    sex_list.append(True)
    age_list.append(randint(65, 100))
  
# Female
for x in range(female0to14):
    sex_list.append(False)
    age_list.append(randint(0, 14))
    
for x in range(female15to24):
    sex_list.append(False)
    age_list.append(randint(15, 24))
   
for x in range(female25to54):
    sex_list.append(False)
    age_list.append(randint(25, 54))
    
for x in range(female55to64):
    sex_list.append(False)
    age_list.append(randint(55, 64))
    
for x in range(female65plus):
    sex_list.append(False)
    age_list.append(randint(65, 100))
    
dict["sex"] = sex_list
dict["age"] = age_list

In [32]:
df = pd.DataFrame(dict)

            aids  water  sanitation  obesity    sex  age
0          False   True       False    False   True   13
1          False   True       False    False   True    3
2          False   True        True    False   True   12
3          False   True        True    False   True   12
4          False   True        True    False   True   11
...          ...    ...         ...      ...    ...  ...
208846887  False   True        True    False  False   86
208846888  False   True        True     True  False   75
208846889  False   True        True    False  False   66
208846890  False   True       False    False  False   89
208846891  False   True        True     True  False   99

[208846892 rows x 6 columns]

In [34]:
df = pd.read_pickle("brazil.pkl")

In [35]:
df.head()

    aids  water  sanitation  obesity   sex  age
0  False   True       False    False  True   13
1  False   True       False    False  True    3
2  False   True        True    False  True   12
3  False   True        True    False  True   12
4  False   True        True    False  True   11